.hidden {
  display: none;
}

.search-menu {
  transition: max-height 0.3s ease-in-out;
  overflow: hidden;
  display: none;
  max-height: 150px;
}

.search-menu.show {
  max-height: 150px;
  /* color: #00000036; */
}

/* PRODUCT GRID */
.showcase:hover .hover {
  opacity: 1;
}

.showcase:hover .default {
  opacity: 0;
}

.showcase:hover .product-img {
  transform: scale(1.1);
}
